<a href="https://colab.research.google.com/github/janakimeena/Python-for-Data-Science/blob/master/Conditional_stmts_control_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creating new column based on value of an existing column

In [17]:
from google.colab import drive
drive.mount('/content/gdrive',force_remount=True)
root_path = 'gdrive/My Drive/DataSets'

Mounted at /content/gdrive

In [0]:
import pandas as pd
data = pd.read_csv(root_path+'/Toyota.csv',index_col=0)

In [0]:
data.insert(10,'Price_Class',"")

# We are going to assign price class as low, high or medium based on the price of the car

If the price of the car is less than 8450 then the price_class is low, if the price of the car is more than 11950 then the price_class is high and price_class is medium otherwise

In [0]:
# setcopywarning was got when the code was data['Price_Class'][i]="low"
for i in range(0, len(data['Price']), 1):    
  if data['Price'][i]<=8450:
    data.loc['Price_Class',i]="low"
  elif (data['Price'][i]>11950):
    data.loc['Price_Class',i]='high'
  else:
    data.loc['Price_Class',i]='medium'

# Count of Unique Values can be found

In [22]:
data['Price_Class'].value_counts()

medium    751
low       369
high      316
Name: Price_Class, dtype: int64

# Wrting functions to form a new field
Age field of cars is converted to number of years from number of months. A function shall be written to do that

In [0]:
data.insert(11,'Age_Converted',0)

In [0]:
def convert(val):
  return val/12
data['Age_Converted']=convert(data['Age'])
data['Age_Converted']=round(data['Age_Converted'],1)

In [0]:
print(data['Age_Converted'])