<a href="https://colab.research.google.com/github/janakimeena/Python-for-Data-Science/blob/master/data_Types_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/gdrive',force_remount=True)
root_path = 'gdrive/My Drive/DataSets'

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import pandas as pd
data = pd.read_csv(root_path+'/Toyota.csv',index_col=0)

In [12]:
print(data)

      Price   Age     KM FuelType  ... Automatic    CC  Doors  Weight
0     13500  23.0  46986   Diesel  ...         0  2000  three    1165
1     13750  23.0  72937   Diesel  ...         0  2000      3    1165
2     13950  24.0  41711   Diesel  ...         0  2000      3    1165
3     14950  26.0  48000   Diesel  ...         0  2000      3    1165
4     13750  30.0  38500   Diesel  ...         0  2000      3    1170
...     ...   ...    ...      ...  ...       ...   ...    ...     ...
1431   7500   NaN  20544   Petrol  ...         0  1300      3    1025
1432  10845  72.0     ??   Petrol  ...         0  1300      3    1015
1433   8500   NaN  17016   Petrol  ...         0  1300      3    1015
1434   7250  70.0     ??      NaN  ...         0  1300      3    1015
1435   6950  76.0      1   Petrol  ...         0  1600      5    1114

[1436 rows x 10 columns]

#Data Types
Datatype of information stored in dataframe has an impact on the analysis and outputs of calculations

Two main types of data


*   Numeric
*   Character

Numeric type includes integers and floats

Strings are called as objects in Pandas which can contain mixture of numbers and characters

## Numerical Datatypes

int64 and float64 are numerical datatypes of Pandas whereas Python uses int and float

'64' refers to the number of bits allocated

Allocating space ahead of time allows computers to optimize storage and process data efficiently

## Character Datatypes

Category and Object are the two types of character datatypes. By default Pandas assign object datatype when there is mixture of characters and numericals in the field

Categorical variable takes limited number of possible values hence better performance

# Checking Datatypes

In [13]:
data.dtypes

Price          int64
Age          float64
KM            object
FuelType      object
HP            object
MetColor     float64
Automatic      int64
CC             int64
Doors         object
Weight         int64
dtype: object

In [14]:
#Count of unique data types
data.get_dtype_counts()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: `get_dtype_counts` has been deprecated and will be removed in a future version. For DataFrames use `.dtypes.value_counts()
  """Entry point for launching an IPython kernel.

float64    2
int64      4
object     4
dtype: int64

#Selecting data based on data types
pandas.DataFrame.select_dtypes() returns a subset of the columns from dataframe based on the column dtypes

In [0]:
data_fil = data.select_dtypes(exclude=[object])

In [16]:
print(data_fil)

      Price   Age  MetColor  Automatic    CC  Weight
0     13500  23.0       1.0          0  2000    1165
1     13750  23.0       1.0          0  2000    1165
2     13950  24.0       NaN          0  2000    1165
3     14950  26.0       0.0          0  2000    1165
4     13750  30.0       0.0          0  2000    1170
...     ...   ...       ...        ...   ...     ...
1431   7500   NaN       1.0          0  1300    1025
1432  10845  72.0       0.0          0  1300    1015
1433   8500   NaN       0.0          0  1300    1015
1434   7250  70.0       1.0          0  1300    1015
1435   6950  76.0       0.0          0  1600    1114

[1436 rows x 6 columns]

#Summary of Dataframe
Details about the data present in the dataframe maybe obtained using info function

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
Price        1436 non-null int64
Age          1336 non-null float64
KM           1436 non-null object
FuelType     1336 non-null object
HP           1436 non-null object
MetColor     1286 non-null float64
Automatic    1436 non-null int64
CC           1436 non-null int64
Doors        1436 non-null object
Weight       1436 non-null int64
dtypes: float64(2), int64(4), object(4)
memory usage: 123.4+ KB

#Analysis of Data in a Field

To understand the datatype chosen by Pandas, let us look at the unique  elements of columns

In [19]:
#unique() of NumPyis used to find the unique elements of a column
import numpy as np
np.unique(data['Price'])

array([ 4350,  4400,  4450,  4750,  5150,  5250,  5600,  5740,  5750,
        5751,  5800,  5845,  5900,  5950,  6000,  6150,  6250,  6400,
        6425,  6450,  6490,  6495,  6500,  6550,  6640,  6650,  6750,
        6800,  6900,  6950,  6990,  6999,  7000,  7145,  7150,  7200,
        7250,  7300,  7350,  7400,  7450,  7460,  7490,  7495,  7499,
        7500,  7600,  7750,  7795,  7800,  7850,  7900,  7950,  7990,
        7995,  7999,  8000,  8050,  8100,  8150,  8200,  8250,  8400,
        8450,  8490,  8495,  8500,  8600,  8695,  8700,  8745,  8750,
        8800,  8850,  8895,  8900,  8950,  8990,  8995,  9000,  9130,
        9200,  9245,  9250,  9390,  9400,  9450,  9475,  9500,  9550,
        9650,  9695,  9700,  9750,  9795,  9799,  9800,  9850,  9895,
        9900,  9930,  9940,  9950,  9980,  9990,  9995, 10000, 10250,
       10295, 10350, 10400, 10450, 10495, 10500, 10600, 10750, 10800,
       10845, 10850, 10895, 10900, 10950, 10990, 10995, 11000, 11250,
       11290, 11450, 11480, 11495, 11500, 11650, 11690, 11695, 11700,
       11710, 11750, 11790, 11895, 11900, 11925, 11930, 11950, 11990,
       12000, 12200, 12250, 12295, 12400, 12450, 12495, 12500, 12695,
       12750, 12850, 12900, 12950, 12995, 13000, 13250, 13450, 13500,
       13750, 13875, 13950, 13995, 14350, 14750, 14900, 14950, 14990,
       15250, 15450, 15500, 15750, 15800, 15850, 15950, 15999, 16250,
       16350, 16450, 16500, 16650, 16750, 16868, 16895, 16900, 16950,
       17200, 17250, 17450, 17495, 17650, 17795, 17900, 17950, 18245,
       18450, 18500, 18600, 18700, 18750, 18800, 18900, 18950, 18990,
       19000, 19250, 19450, 19500, 19600, 19750, 19900, 19950, 20500,
       20750, 20950, 21125, 21500, 21750, 21950, 22000, 22250, 22500,
       22750, 22950, 23000, 23750, 23950, 24500, 24950, 24990, 31000,
       31275, 32500])

In [20]:
np.unique(data['Age'])

array([ 1.,  2.,  4.,  6.,  7.,  8.,  9., 10., 11., 12., 13., 14., 15.,
       16., 17., 18., 19., 20., 22., 23., 24., 25., 26., 27., 28., 29.,
       30., 31., 32., 33., 34., 35., 36., 37., 38., 39., 40., 41., 42.,
       43., 44., 45., 46., 47., 48., 49., 50., 51., 52., 53., 54., 55.,
       56., 57., 58., 59., 60., 61., 62., 63., 64., 65., 66., 67., 68.,
       69., 70., 71., 72., 73., 74., 75., 76., 77., 78., 79., 80., nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan])

In [21]:
np.unique(data['KM'])

array(['1', '10000', '100123', ..., '99865', '99971', '??'], dtype=object)

In [23]:
print(np.unique(data['HP']))

['107' '110' '116' '192' '69' '71' '72' '73' '86' '90' '97' '98' '????']

In [25]:
print(np.unique(data['MetColor']))

[ 0.  1. nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan]

In [26]:
print(np.unique(data['Automatic']))

[0 1]

In [27]:
print(np.unique(data['Doors']))

['2' '3' '4' '5' 'five' 'four' 'three']

## Since values five, four and three are read as strings, datatype is treated as object instead of integer

#Handling Missing Values

1.   Missing values exist in the form of 'nan', '??', '????'
2.   Python by default replace blank with 'nan'

In [0]:
data = pd.read_csv(root_path+'/Toyota.csv',index_col=0,na_values=["??","???"])

In [29]:
print(data)

      Price   Age       KM FuelType  ... Automatic    CC  Doors  Weight
0     13500  23.0  46986.0   Diesel  ...         0  2000  three    1165
1     13750  23.0  72937.0   Diesel  ...         0  2000      3    1165
2     13950  24.0  41711.0   Diesel  ...         0  2000      3    1165
3     14950  26.0  48000.0   Diesel  ...         0  2000      3    1165
4     13750  30.0  38500.0   Diesel  ...         0  2000      3    1170
...     ...   ...      ...      ...  ...       ...   ...    ...     ...
1431   7500   NaN  20544.0   Petrol  ...         0  1300      3    1025
1432  10845  72.0      NaN   Petrol  ...         0  1300      3    1015
1433   8500   NaN  17016.0   Petrol  ...         0  1300      3    1015
1434   7250  70.0      NaN      NaN  ...         0  1300      3    1015
1435   6950  76.0      1.0   Petrol  ...         0  1600      5    1114

[1436 rows x 10 columns]

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
Price        1436 non-null int64
Age          1336 non-null float64
KM           1421 non-null float64
FuelType     1336 non-null object
HP           1436 non-null object
MetColor     1286 non-null float64
Automatic    1436 non-null int64
CC           1436 non-null int64
Doors        1436 non-null object
Weight       1436 non-null int64
dtypes: float64(3), int64(4), object(3)
memory usage: 123.4+ KB

# Changing datatype
astype() method is used to explicitly convert data types from one to another

In [0]:
# Changing 'MetColor' and 'Automatic' to object data type
data['MetColor'] = data['MetColor'].astype('object')

In [0]:
# Changing 'MetColor' and 'Automatic' to object data type
data['Automatic'] = data['Automatic'].astype('object')

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
Price        1436 non-null int64
Age          1336 non-null float64
KM           1421 non-null float64
FuelType     1336 non-null object
HP           1436 non-null object
MetColor     1286 non-null object
Automatic    1436 non-null object
CC           1436 non-null int64
Doors        1436 non-null object
Weight       1436 non-null int64
dtypes: float64(2), int64(3), object(5)
memory usage: 123.4+ KB

# Category Vs Object Datatype
Memory consumed can be checked with nbytes

In [36]:
data['FuelType'].nbytes

11488

In [42]:
data['FuelType'].astype('category').nbytes # will not make changes

1460

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
Price        1436 non-null int64
Age          1336 non-null float64
KM           1421 non-null float64
FuelType     1336 non-null category
HP           1436 non-null object
MetColor     1286 non-null object
Automatic    1436 non-null object
CC           1436 non-null int64
Doors        1436 non-null object
Weight       1436 non-null int64
dtypes: category(1), float64(2), int64(3), object(4)
memory usage: 113.7+ KB

In [0]:
data['FuelType'] = data['FuelType'].astype('category') # datatype of FuelType is changed

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
Price        1436 non-null int64
Age          1336 non-null float64
KM           1421 non-null float64
FuelType     1336 non-null object
HP           1436 non-null object
MetColor     1286 non-null object
Automatic    1436 non-null object
CC           1436 non-null int64
Doors        1436 non-null object
Weight       1436 non-null int64
dtypes: float64(2), int64(3), object(5)
memory usage: 123.4+ KB

#Replacing values in dataframe with desired values

In [0]:
data['Doors'].replace('three',3,inplace=True)
data['Doors'].replace('four',4,inplace=True)
data['Doors'].replace('five',5,inplace=True)

In [0]:
data['Doors']=data['Doors'].astype('int64')

In [56]:
print(data)

<bound method DataFrame.info of       Price   Age       KM FuelType  ... Automatic    CC Doors  Weight
0     13500  23.0  46986.0   Diesel  ...         0  2000     3    1165
1     13750  23.0  72937.0   Diesel  ...         0  2000     3    1165
2     13950  24.0  41711.0   Diesel  ...         0  2000     3    1165
3     14950  26.0  48000.0   Diesel  ...         0  2000     3    1165
4     13750  30.0  38500.0   Diesel  ...         0  2000     3    1170
...     ...   ...      ...      ...  ...       ...   ...   ...     ...
1431   7500   NaN  20544.0   Petrol  ...         0  1300     3    1025
1432  10845  72.0      NaN   Petrol  ...         0  1300     3    1015
1433   8500   NaN  17016.0   Petrol  ...         0  1300     3    1015
1434   7250  70.0      NaN      NaN  ...         0  1300     3    1015
1435   6950  76.0      1.0   Petrol  ...         0  1600     5    1114

[1436 rows x 10 columns]>

# Identify Missing Values in a column

In [57]:
data.isnull().sum()

Price          0
Age          100
KM            15
FuelType     100
HP             0
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64