In [1]:
from google.colab import drive
drive.mount('/content/gdrive',force_remount=True)
root_path = 'gdrive/My Drive/DataSets'

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import pandas as pd
data = pd.read_csv(root_path+'/Iris_data_sample.csv')

In [0]:
print(data)

#Data Types
Datatype of information stored in dataframe has an impact on the analysis and outputs of calculations

Two main types of data


*   Numeric
*   Character

Numeric type includes integers and floats

Strings are called as objects in Pandas which can contain mixture of numbers and characters

## Numerical Datatypes

int64 and float64 are numerical datatypes of Pandas whereas Python uses int and float

'64' refers to the number of bits allocated

Allocating space ahead of time allows computers to optimize storage and process data efficiently

## Character Datatypes

Category and Object are the two types of character datatypes. By default Pandas assign object datatype when there is mixture of characters and numericals in the field

Categorical variable takes limited number of possible values hence better performance

# Checking Datatypes

In [0]:
data.dtypes

In [0]:
#Count of unique data types
data.get_dtype_counts()

#Selecting data based on data types
pandas.DataFrame.select_dtypes() returns a subset of the columns from dataframe based on the column dtypes

In [0]:
data_fil = data.select_dtypes(exclude=[object])

In [0]:
print(data_fil)

#Summary of Dataframe
Details about the data present in the dataframe maybe obtained using info function

In [0]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
Unnamed: 0       150 non-null int64
SepalLengthCm    150 non-null object
SepalWidthCm     149 non-null float64
PetalLengthCm    149 non-null object
PetalWidthCm     150 non-null float64
Species          149 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 7.2+ KB

#Analysis of Data in a Field

To understand the datatype chosen by Pandas, let us look at the unique  elements of columns

In [0]:
#unique() of NumPyis used to find the unique elements of a column
import numpy as np
np.unique(data['SepalLengthCm'])

array(['4.3', '4.4', '4.5', '4.6', '4.7', '4.8', '4.9', '5', '5.1', '5.2',
       '5.3', '5.4', '5.5', '5.6', '5.7', '5.8', '5.9', '6', '6.1', '6.2',
       '6.3', '6.4', '6.5', '6.6', '6.7', '6.8', '6.9', '7', '7.1', '7.2',
       '7.3', '7.4', '7.6', '7.7', '7.9', '??'], dtype=object)

In [0]:
np.unique(data['PetalWidthCm'])

array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 1. , 1.1, 1.2, 1.3, 1.4, 1.5, 1.6,
       1.7, 1.8, 1.9, 2. , 2.1, 2.2, 2.3, 2.4, 2.5])

In [0]:
np.unique(data['SepalWidthCm'])

array([2. , 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9, 3. , 3.1, 3.2, 3.3,
       3.4, 3.5, 3.6, 3.7, 3.8, 3.9, 4. , 4.1, 4.2, 4.4, nan])

In [0]:
print(np.unique(data['Species']))

#Handling Missing Values

1.   Missing values exist in the form of 'nan', '??', '????'
2.   Python by default replace blank with 'nan'

In [0]:
data = pd.read_csv(root_path+'/Iris_data_sample.csv',index_col=0,na_values=["??","###"])

In [0]:
print(data)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
SepalLengthCm    149 non-null float64
SepalWidthCm     149 non-null float64
PetalLengthCm    148 non-null float64
PetalWidthCm     150 non-null float64
Species          149 non-null object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

# Changing datatype
astype() method is used to explicitly convert data types from one to another

In [0]:
data['Species'] = data['Species'].astype('category')

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
SepalLengthCm    149 non-null float64
SepalWidthCm     149 non-null float64
PetalLengthCm    148 non-null float64
PetalWidthCm     150 non-null float64
Species          149 non-null category
dtypes: category(1), float64(4)
memory usage: 6.1 KB