<a href="https://colab.research.google.com/github/janakimeena/Python-for-Data-Science/blob/master/Exploratory_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/gdrive',force_remount=True)
root_path = 'gdrive/My Drive/DataSets'

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import pandas as pd
data = pd.read_csv(root_path+'/Toyota.csv',index_col=0,na_values=['??','????'])

# Copy a dataframe
There are two types of copying dataframes:

1.   Deep - Allocate separate memory and make a copy
2.   Shallow - Make a reference to existing copy of data
Copy function of pandas makes a deep copy by default

In [0]:
data1 = data.copy()

# Crosstab
Compute a simple cross tabulation of two (or more) factors. By default computes a frequency table of the factors

Two types crosstabs are seen: 

1.  2 way cross table or contingency table in python pandas
2.  3 way cross table or contingency table in python pandas

In [0]:
import pandas as pd
import numpy as np
 
#Create a DataFrame
d = {
    'Name':['Alisa','Bobby','Cathrine','Alisa','Bobby','Cathrine',
            'Alisa','Bobby','Cathrine','Alisa','Bobby','Cathrine'],
    'Exam':['Semester 1','Semester 1','Semester 1','Semester 1','Semester 1','Semester 1',
            'Semester 2','Semester 2','Semester 2','Semester 2','Semester 2','Semester 2'],
     
    'Subject':['Mathematics','Mathematics','Mathematics','Science','Science','Science',
               'Mathematics','Mathematics','Mathematics','Science','Science','Science'],
   'Result':['Pass','Pass','Fail','Pass','Fail','Pass','Pass','Fail','Fail','Pass','Pass','Fail']}
 
df = pd.DataFrame(d,columns=['Name','Exam','Subject','Result'])
print(df)

        Name        Exam      Subject Result
0      Alisa  Semester 1  Mathematics   Pass
1      Bobby  Semester 1  Mathematics   Pass
2   Cathrine  Semester 1  Mathematics   Fail
3      Alisa  Semester 1      Science   Pass
4      Bobby  Semester 1      Science   Fail
5   Cathrine  Semester 1      Science   Pass
6      Alisa  Semester 2  Mathematics   Pass
7      Bobby  Semester 2  Mathematics   Fail
8   Cathrine  Semester 2  Mathematics   Fail
9      Alisa  Semester 2      Science   Pass
10     Bobby  Semester 2      Science   Pass
11  Cathrine  Semester 2      Science   Fail

In [0]:
# 2 way cross table
 
pd.crosstab(df.Subject, df.Result,margins=True)

#margin=True displays the row wise and column wise sum of the cross table

Result       Fail  Pass  All
Subject
Mathematics     3     3    6
Science         2     4    6
All             5     7   12

In [0]:
# 3 way cross table 
pd.crosstab([df.Subject, df.Exam],df.Result, margins=True)

Result                  Fail  Pass  All
Subject     Exam
Mathematics Semester 1     1     2    3
            Semester 2     2     1    3
Science     Semester 1     1     2    3
            Semester 2     1     2    3
All                        5     7   12

# Frequecy distribution of Gearboxes with respect to fuel types of the cars
Automatic 0 - Indicates manual gear box

1- Indicates Automatic gearbox

In [0]:
pd.crosstab(index = data1['Automatic'],columns=data1['FuelType'],dropna=True,margins=True)

FuelType   CNG  Diesel  Petrol   All
Automatic
0           15     144    1104  1263
1            0       0      73    73
All         15     144    1177  1336

# Two way table - joint probability
Joint probability is the likelihood of two independent events happening at the same time

In [0]:
pd.crosstab(index=data['Automatic'],columns=data1['FuelType'],normalize=True,dropna=True)

FuelType        CNG    Diesel    Petrol
Automatic
0          0.011228  0.107784  0.826347
1          0.000000  0.000000  0.054641

#Two-way table - marginal probability
Marginal probability is the probability of the occurrence of the single event

In [0]:
pd.crosstab(index=data1['Automatic'],columns=data1['FuelType'],dropna=True,normalize=True,margins=True)

FuelType        CNG    Diesel    Petrol       All
Automatic
0          0.011228  0.107784  0.826347  0.945359
1          0.000000  0.000000  0.054641  0.054641
All        0.011228  0.107784  0.880988  1.000000

#Two-way table - conditional probability

Conditional probability is the probability of an event ( A ), given that another event ( B ) has already occurred

Here given the type of gear box, find probability of different fuel type

In [0]:
pd.crosstab(index=data1["Automatic"],columns=data1['FuelType'],margins=True,dropna=True,normalize='index')

FuelType        CNG    Diesel    Petrol
Automatic
0          0.011876  0.114014  0.874109
1          0.000000  0.000000  1.000000
All        0.011228  0.107784  0.880988


row sum is 1 since normalize is given as index

In [0]:
pd.crosstab(index=data1["Automatic"],columns=data1['FuelType'],margins=True,dropna=True,normalize='columns')

FuelType   CNG  Diesel    Petrol       All
Automatic
0          1.0     1.0  0.937978  0.945359
1          0.0     0.0  0.062022  0.054641

column sum is 1 since normalize is given as columns

# Correlation

To compute pairwise correlation of columns excluding NAN/null values

Excluding the categorical or object variables to find the Pearson’s correlation

In [0]:
num_data = data1.select_dtypes(exclude=[object])

In [0]:
# Find the number of variables
num_data.shape

(1436, 8)

In [0]:
corr_matrix = num_data.corr()

In [0]:
print(corr_matrix)

              Price       Age        KM  ...  Automatic        CC    Weight
Price      1.000000 -0.878407 -0.574720  ...   0.033081  0.165067  0.581198
Age       -0.878407  1.000000  0.512735  ...   0.032573 -0.120706 -0.464299
KM        -0.574720  0.512735  1.000000  ...  -0.081248  0.299993 -0.026271
HP         0.309902 -0.157904 -0.335285  ...   0.013755  0.053758  0.086737
MetColor   0.112041 -0.099659 -0.093825  ...  -0.013973  0.029189  0.057142
Automatic  0.033081  0.032573 -0.081248  ...   1.000000 -0.069321  0.057249
CC         0.165067 -0.120706  0.299993  ...  -0.069321  1.000000  0.651450
Weight     0.581198 -0.464299 -0.026271  ...   0.057249  0.651450  1.000000

[8 rows x 8 columns]